{% extends 'layout.html' %}
{% import "parts/card.html" as cards %}

{% block content %}
{% call cards.render('Editar Produto', 'product-edit container') %}

	<form method="POST">
		<div class="fields">{% include 'products/fields.html' %}</div>

		<input type="hidden" name="id" value="{{ product.id }}" />

		<button class="button edit" formaction="/products?_method=PUT" formenctype="multipart/form-data" type="submit">Atualizar</button>
		<button id="form-delete" class="button delete" formaction="/products?_method=DELETE" type="submit">
			Delete
		</button>
	</form>
	
{% endcall %}
{% endblock %}
